<!-- 共通テンプレートの呼び出し -->
{% extends "base.html" %}
<!-- カスタムテンプレートタグの読み込み -->
{% load django_bootstrap5 %}

{% block content %}

<!-- 新規と編集で表示を変更 -->
<h1>投稿の{{object|yesno:'編集,新規作成'}}</h1>

<form action="" method='post'>
    <!-- テンプレートタグでフォームを設置 -->
    {% csrf_token %}{% bootstrap_form form %}
    <!-- テンプレートタグでボタンを設置 -->
    {% bootstrap_button button_type="submit" content=object|yesno:"更新,作成" size="md" %}
</form>
<div class="mt-3">
    <!-- テンプレートタグでボタンを設置 -->
    <a href='{% url "bbs:index" %}' class="btn btn-secondary">一覧ページへ戻る</a>
</div>
{% endblock %}